@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;700&display=swap');

.card {
    height: 80vh;
    width: 90%;
    transform:translateX(20px);
    font-family: 'Spartan', sans-serif;
    margin-bottom: 400px;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    float: left;
    width: 35%;
    margin-bottom: 20px;
    transform: translate(180px, 50px);
    margin-right: 50px;
}

.title p {
    color: hsl(300, 43%, 22%);
    font-weight: 500;
}

.title h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    transform: translate(-150px, 100px);
}

.stars1, .stars2, .stars3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5px 25px;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    width: 30%;
    border-radius: 10px;
    transform: translate(180px, 80px);
}

.stars2 {
    transform: translate(240px, 80px);
}

.stars3 {
    transform: translate(300px, 80px);
}

.stars1 {
    margin-left: 30px;
}

.stars1 p, .stars2 p, .stars3 p {
    padding-left: 10px;
}

.card1, .card2, .card3 {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(300, 43%, 22%);
    width: 120%;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    padding: 0 30px;
    font-family: 'Spartan', sans-serif;
    height: 300px;
    transform: translateX(-50px);
    flex-wrap: wrap;
    word-wrap: break-word;
}

.card2 {
    transform: translate(-50px, 30px);
}

.card3 {
    transform: translate(-50px, 60px);
}

.bottom div {
    margin-left: 40px;
    padding-left: 40px;
}

.header1, .header2, .header3 {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-185px, 20px);
}


.header1 h6, .header2 h6, .header3 h6 {
    margin-top: -20px;
    transform: translate(80px, -10px);
}
.buyer {
    transform: translateY(-100px);
    color: hsl(333, 80%, 67%);
}

.header1 img, .header2 img, .header3 img {
    /* float: left; */
    margin-top: 30px;
    border-radius: 50%;
    height: 40px;
}

.quote {
    font-size: 15px;
    width: 100%;
    transform: translate(-80px, 0px);
}