@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');


@media only screen and (max-width: 400px){
    body {
        width: 400px;
        height: 900px;
        font-family: 'Inter', sans-serif;
    }
    .card {
        margin-top: 50px;
        width: 375px;
        height: 100%;
        background-color: hsl(0, 0%, 100%);
        position: absolute;
        border-radius: 25px;
    }
    .bg {
        margin-top: 20px;
        width: 320px;
        position: absolute;
        margin-left: 30px;
    }
    .image {
        margin-top: 20px;
        width: 250px;
        position: absolute;
        margin-left: 10px;
        transform: translate(50px, 28px);
    }
    .slider {
        width: 70px;
        background-color: #ffffff;
        margin: auto;
        position: relative;
        transform: translateY(280px);
        padding: 10px 5px;
        border-radius: 25px;
        box-shadow: 0 5px 5px 1px hsl(240, 18%, 77%);
        cursor: pointer;
    }
    .prev {
        margin-right: 34px;
        padding-left: 5px;
        height: 15px;
    }
    .next {
        padding-right: 5px;
        height: 15px;
    }
    .bgquote {
        position: absolute;
        width: 70px;
        transform: translate(155px, 300px);
    }
    .words {
        position: relative;
        width: 270px;
        margin: auto;
        transform: translateY(320px);
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }
    .person {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .person h1, .person p {
        font-size: 16px;
    }
    .person p {
        margin-top: -10px;
    }
    .bottom img {
        width: 90%;
        transform:translateY(300px);
    }
}

body { 
    font-family: 'Inter', sans-serif;
}

.card {
    margin-left: 100px;
    margin-top: 50px;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    border-radius: 25px;
}

.bg {
    width: 40%;
    position: absolute;
    transform: translate(600px, 35px);
}
.image {
    width: 31%;
    position: absolute;
    transform: translate(662px, 82px);

}
.slider {
    width: 80px;
    background-color: #ffffff;
    position: relative;
    padding: 10px 5px;
    border-radius: 25px;
    box-shadow: 0 5px 5px 1px hsl(240, 18%, 77%);
    cursor: pointer;
    transform: translate(690px, 460px);

}

.prev {
    margin-right: 40px;
    padding-left: 5px;
    height: 15px;
}
.next {
    padding-right: 5px;
    height: 15px;
}
.bgquote {
    position: absolute;
    width: 110px;
    transform: translate(200px, -10px);
}

.words {
    position: relative;
    width: 650px;
    margin: auto;
    transform: translate(-220px, 50px);
    font-size: 32px;
    font-weight: 300;
    text-align: left;
}
.words p {
    color:hsl(240, 38%, 20%);
}
.person {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.person h1, .person p {
    font-size: 20px;
    padding: 0 5px;
    transform: translateX(-190px);
}
.person p {
    color: hsl(240, 18%, 77%);
}

.bottom img {
    transform: translateY(50px);
}

h1 {
    color: hsl(240, 38%, 20%);
}

#card2name {
    transform: translateX(60px);
}